**/generated/
target/*
target/**/*
*/target/*
*~
**/*.iml
**/derby.log
/target/
Tag_*.txt
tags.txt
**/*.swp
.idea/
**/fertig.txt
**/dependency-reduced-pom.xml
dependency/debug/
dependency/results/
measurement/dependencies/
measurement/dependencies.xml
src/test/resources/antprojekt2/**/*
src/test/resources/mavenprojekt2/**/*
src/test/resources/SimplesTestProjekt/*.yaml
src/test/resources/SimplesTestProjekt/target/
ergebnisse/
ergebnis*
performanzanalyse/
ausgabe*/
analysen_alt/
*.jar
out.txt
**/.classpath
**/.project
.settings/
/target/
/target/
/target/
/target/
