<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of PerAn. PerAn is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. PerAn is distributed in the hope that it will be useful, 
  but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. 
  You should have received a copy of the GNU General Public License along with PerAn. If not, see <http://www.gnu.org/licenses/>. -->
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n" />
    </Console>

  </Appenders>
  <Loggers>
    <Logger name="de.dagere.kopeme.datastorage.XMLDataLoader" level="info">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="kieker.analysis.source.file.TextMapDeserializer" level="info">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="org.apache.logging.log4j2" level="info">
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="debug">
      <AppenderRef ref="Console" />
    </Root>
    <Logger name="de.dagere.requitur.Rule" level="info" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
  </Loggers>
</Configuration>