<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n" />
    </Console>

  </Appenders>
  <Loggers>
    <Logger name="de.dagere.kopeme.datastorage.XMLDataLoader" level="info">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="de.performanzanalysator.testanalysis.AnalysisRunner" level="trace" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Logger name="org.apache.logging.log4j2" level="info">
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="debug">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>


</Configuration>